<% if @merchant.braintree_access_token.present? %>
  <div class="notice notice-complete show">
    <div class="container">
      <p>You've successfully connected a Braintree account to PseudoShop!</p>
    </div>
  </div>

  <div class="notice notice-payment">
    <div class="container">
      <p>Demo Merchant was just paid $1!</p>
    </div>
  </div>
<% end %>

<header>
  <div class="container">
    <a href="/">
      <div class="company">Pseudo<span>Shop</span></div>
    </a>
    <p class="right">Demo Merchant</p>
  </div>
</header>

<div class="container">
  <% unless @merchant.braintree_access_token.present? %>
    <aside>
      <h2>Hi, let's add a payment provider</h2>
      <p>By clicking the Connect with Braintree button, your users will be able to set up a Braintree account and authorize you to process transactions on their behalf</p>
    </aside>
  <% end %>

  <section>
    <div class="paypal-braintree">
      <img class="paypal-logo" src="/assets/images/braintree_paypal.svg" alt="Braintree Connect" />

      <ul>
        <li class="visa">Visa</li>
        <li class="mastercard">Mastercard</li>
        <li class="amex">American Express</li>
        <li class="discover">Discover</li>
        <li class="paypal">PayPal</li>
      </ul>

      <p>
        <a target="_blank" href="https://developers.braintreepayments.com/guides/braintree-auth/overview">Learn more</a>
      </p>

      <% if @merchant.braintree_access_token.present? %>
        <p>
          This user has connected a Braintree account to PseudoShop! Click "Test Payment" below to run a transaction on their behalf.
        </p>

        <h3>Today's Transactions:</h3>
        <% if @transactions.empty? %>
          <p>No transactions to show! Trying running one below to see how to view a merchant's transactions.</p>
        <% else %>
          <table class="table">
            <thead>
              <tr>
                <th>Transaction ID</th>
                <th>Amount</th>
                <th>Status</th>
              </tr>
            </thead>
            <% @transactions.each do |transaction| %>
              <tr>
                <td>
                  <a href="https://sandbox.braintreegateway.com/merchants/<%= @merchant.braintree_id %>/transactions/<%= transaction.id %>"><%= transaction.id %></a>
                </td>
                <td><%= "$%05.2f" % transaction.amount %></td>
                <td><%= transaction.status.titleize %></td>
              </tr>
            <% end %>
          </table>
        <% end %>

      <% else %>
        <p>Connect with Braintree to start accepting credit/debit cards and PayPal instantly.</p>

        <div id="bt-oauth-connect-container"></div>
        <script>
          new BraintreeOAuthConnect({
            connectUrl: '<%= @connect_url %>',
            container: 'bt-oauth-connect-container',
            environment: 'sandbox',
            onError: function (errorObject) {
              console.warn(errorObject.message);
            }
          });
        </script>
      <% end %>
    </div>
  </section>

  <div class="bar">
    <div class="container">
      <ul>
        <% if @client_token %>
          <li class="pane">

            <div class="tooltip active test-tooltip">
              Now that your user has connected a Braintree account, you can run transactions on their behalf using the access token provided.  Try it now!
            </div>

            <a class="toggle" href="#">
              <span class="title">
                Test Payment
                <span class="detail">$1</span>
              </span>
            </a>

            <section>
              <ol class="credentials">
                <li>
                  <h6>PayPal</h6>
                  <p>Email: bt_seller_us@paypal.com</p>
                  <p>Password: 11111111</p>
                </li>
                <li>
                  <h6>Credit Card</h6>
                  <p>Number: 4111 1111 1111 1111</p>
                  <p>Expiration: 11/22</p>
                </li>
              </ol>

              <div class="pane-content">
                <form id="payment-form" action="/merchant/<%= @merchant.public_id %>/transactions" method="POST">
                  <div class="group paypal-container">
                    <img id="paypal-checkout" class="paypal-button" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png" alt="Check out with PayPal" />
                  </div>

                  <input type="hidden" name="transaction[amount]" value="1.00" />
                  <input type="hidden" id="payment-method-nonce" name="transaction[payment-method-nonce]" value="true" />

                  <label for="card-number">
                    <span class="label">Card Number</span>
                    <div id="card-number" class="input"></div>
                  </label>

                  <label for="expiration-date">
                    <span class="label">Expiration Date</span>
                    <div id="expiration-date" class="input"></div>
                  </label>

                  <button class="button primary" type="submit"><span>Pay</span></button>
                </form>
              </div>

              <div class="success">
                <div class="success-content">
                  <div class="success-middle">
                    <span class="icon icon-success"></span>
                    <h3>Hooray!</h3>
                    <p>Your test was a success</p>
                  </div>
                </div>
              </div>

            </section>
          </li>
        <% end %>

        <li class="braintree">
          <div class="braintree-auth">Braintree_auth</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<% if @client_token %>
  <script>
    function submitForm (form) {
      return $.ajax({
        type: 'POST',
        url: form.action,
        data: new FormData(form),
        processData: false,
        contentType: false
      });
    }

    function handlePaymentResponse (response) {
      if (response.success) {
        app.showPaymentSuccess();
      } else {
        app.clearPaymentLoading();
        window.alert('transaction failed: ' + response.errors);
      }
    }

    function handleError (error) {
      console.log(error);
    }

    braintree.client.create({
      authorization: '<%= @client_token %>'
    }, function (err, client) {
      var form = document.getElementById('payment-form');

      braintree.hostedFields.create({
        client: client,
        styles: {
          'input': {
            'font-family': '"Open Sans Regular", "Helvetica Neue", "Helvetica", "Arial", Sans-serif',
            'font-size': '16px',
            'font-weight': 'normal',
            'color': '#3E3C41'
          },
          ':focus': {
            'color': '#2CA1E9'
          },
        },
        fields: {
          number: {
            selector: '#card-number'
          },
          expirationDate: {
            selector: '#expiration-date'
          }
        }
      }, function (err, hostedFields) {
        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFields.tokenize(function (err, payload) {
            if (err) {
              app.clearPaymentLoading();
              return;
            }

            document.getElementById('payment-method-nonce').value = payload.nonce;
            submitForm(form)
              .done(handlePaymentResponse)
              .fail(handleError);
          });
        });
      });

      braintree.paypal.create({
        client: client,
      }, function (err, paypal) {
        var paypalButton = document.getElementById('paypal-checkout');

        paypalButton.addEventListener('click', function () {
          paypalButton.setAttribute('disabled', 'disabled');

          paypal.tokenize({
            flow: 'checkout',
            amount: 1.00,
            currency: '<%= @merchant.currency_code %>',
            enableShippingAddress: true
          }, function (err, payload) {
            paypalButton.removeAttribute('disabled');

            if (err) {
              return;
            }

            document.getElementById('payment-method-nonce').value = payload.nonce;
            app.triggerPaymentSubmit();

            submitForm(form)
              .done(handlePaymentResponse)
              .fail(handleError);
          });
        });
      });
    });
  </script>
<% end %>
